.container {
  background-image: url(https://s8.uupload.ir/files/signupbg_bdw.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

.box {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 0.5) 0%,
    rgba(147, 253, 45, 0.5) 100%
  );
}
