.container {
  background-image: url(https://s8.uupload.ir/files/signupbg_bdw.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%; /* Set width to 100% */
  min-height: 100vh; /* Use min-height to ensure container fills at least viewport height */
  padding-left: 0;
  padding-right: 0;
  margin: 0; /* Remove margin */
  display: flex; /* Add display: flex to center content vertically */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
}

@font-face {
  font-family: "iranyekan";
  src: url("../public/iranyekanfanum/ttf/iranyekanwebregularfanum.ttf")
      format("truetype"),
    url("../public/iranyekanfanum/woff/iranyekanwebregularfanum.woff")
      format("woff");
  /* Add more font styles and weights here if needed */
}

* {
  font-family: "iranyekan" !important;
}
