@font-face {
  font-family: 'iranyekan';
  src: url('../public/iranyekanfanum/ttf/iranyekanwebregularfanum.ttf')
      format('truetype'),
    url('../public/iranyekanfanum/woff/iranyekanwebregularfanum.woff')
      format('woff');
  /* Add more font styles and weights here if needed */
}

* {
  font-family: 'iranyekan' !important;
}
